<h2>Compose New Mail</h2>

<form id="newMailForm" name="newMailForm" ng-submit="vm.submit()" novalidate>
	<div class="form-group">
		<label for="recipient">Recipient</label>
	<input type="text" id="recipient" name="recipient" class="form-control" ng-model="vm.model.recipient"/>	
	</div>
	<div class="form-group">
		<label for="subject">Subject</label>
	<input type="text" id="subject" name="subject" class="form-control" ng-model="vm.model.subject"/>	
	</div>
	<div class="form-group">
		<label for="body">Body</label>
		<textarea id="body" name="body" class="form-control" ng-model="vm.model.body"></textarea>
	</div>
	
	<input type="submit" value="send" class="btn btn-primary"/>
</form>